* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .hero, .info, .quote, .call, .footer {
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.header, .hero, .footer {
    background: #1f2937;
}

.header {
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    padding: 0;
}

li {
    padding-left: 20px;
}

.hero, .info, .quote, .call {
    /* flex: 1 0 auto; */
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

button, .call {
    background: #3882f6;
    color: #f9faf8;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.footer {
    color: #e5e7eb;
    flex: 0;
}