* {
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .hero, .call, .footer {
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.header, .footer {
    flex: 0;
}

.hero, .info, .quote, .call {
    flex: 1;
}

.header, .hero, .footer {
    background: #1f2937;
}

.hero {
    flex-wrap: wrap;
}

.header {
    justify-content: space-between;
    padding: 10px 200px;
}

ul {
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    padding: 0;
}

li {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    min-width: 300px;
}

.hero-right {
    text-align: right;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 0;
}

.explore {
    margin-bottom: 20px;
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 125px 300px;
    text-align: justify;
}

p {
    margin: 0;
}

.person {
    font-size: 25px;
    font-weight: 800;
    text-align: right;
    padding-top: 15px;
}

button, .call {
    background: #3882f6;
    color: #f9faf8;
}

button {
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
}

.info {
    padding: 0 200px;
    align-items: center;
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 40px;
}

.border {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    background-size: cover;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    max-width: 200px;
}

.image1 {
    background-image: url(./images/info-image1.png);
}

.image2 {
    background-image: url(./images/info-image2.png);
}

.image3 {
    background-image: url(./images/info-image3.png);
}

.image4 {
    background-image: url(./images/info-image4.png);
}

h3 {
    padding: 10px 0 5px 0;
    margin: 0;
}

img.imgs {
    height: 150px;
    border: #3882f6;
}

.info-images {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    color: #e5e7eb;
    flex: 0;
}